@page
@model CBTDWeb.Pages.Products.UpsertModel
@{
}
<form method="post" asp-page="Upsert" enctype="multipart/form-data">
    <input asp-for="objProduct.Id" hidden />
    <input asp-for="objProduct.ImageURL" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.objProduct.Id != 0 ? "Update" : "Create" ) Product</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label asp-for="objProduct.Name"></label>
                    <input id="txtName" asp-for="objProduct.Name" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="objProduct.Description"></label>
                    <textarea asp-for="objProduct.Description" id="txtDesc" rows="3" class="form-control"></textarea>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objProduct.UPC"></label>
                    <input id="txtUPC" asp-for="objProduct.UPC" class="form-control" />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objProduct.Size"></label>
                    <input id="txtSize" asp-for="objProduct.Size" id="txtSize" class="form-control" />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objProduct.ListPrice"></label>
                    <input id="txtListPrice" asp-for="objProduct.ListPrice" class="form-control" />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objProduct.UnitPrice"></label>
                    <input id="txtUnitPrice" asp-for="objProduct.UnitPrice" class="form-control" />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objProduct.HalfDozenPrice"></label>
                    <input id="txtHalfDozenPrice" asp-for="objProduct.HalfDozenPrice" class="form-control" />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objProduct.DozenPrice"></label>
                    <input id="txtDozenPrice" asp-for="objProduct.DozenPrice" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="objProduct.ImageURL"></label>
                    <input asp-for="objProduct.ImageURL" type="file" id="uploadBox" name="file" class="form-control" />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objProduct.CategoryId"></label>
                    <select id="ddlCategory" asp-for="objProduct.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>--Select Category--</option>
                    </select>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objProduct.ManufacturerId"></label>
                    <select id="ddlManufacturer" asp-for="objProduct.ManufacturerId" asp-items="@Model.ManufacturerList "class="form-select">
                        <option disabled selected>--Select Manufacturer--</option>
                    </select>
                </div>
                <div class="col-12">
                    
                    @if (Model.objProduct.Id != 0)
                    {
                        <button type="submit" onclick="return ValidateUpdateInput()" id="update-or-create" class="btn btn-primary" style="width:150px">Update</button>
                    }
                   
                    else {
                    
                    <button type="submit" onclick ="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                    
                    }
                    <a asp-page="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
        <div class="col-2 pt-4">
            <img src="@Model.objProduct.ImageURL"
                 style="border-radius:5px; width:100%; border:1px solid #bbb9b9" />
        </div>
    </div>
</form>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/a54lzru7ct3f9x0c8fjnjj2pgu80t7z7o3mcfqs79ff985zw/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>


    <script>

        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            toolbar: "undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link"
        });
        function ValidateInput() {
            if (document.getElementById('txtName').value == "") {
                swal.fire('Error', 'Please Enter a Product Name', 'error');
                return false;
            }
            if (document.getElementById('txtUPC').value == "") {
                swal.fire('Error', 'Please Enter a Product UPC', 'error');
                return false;
            }
            if ($('#txtUnitPrice').val() < .01) {
                swal.fire('Error', 'Please Enter a Unit Price Greater Than $.01', 'error');
                return false;
            }
            if ($('#txtListPrice').val() < .01) {
                swal.fire('Error', 'Please Enter a List Price Greater Than $.01', 'error');
                return false;
            }
            if ($('#txtHalfDozenPrice').val() < .01) {
                swal.fire('Error', 'Please Enter a Half Dozen+ Price Greater Than $.01', 'error');
                return false;
            }
            if ($('#txtDozenPrice').val() < .01) {
                swal.fire('Error', 'Please Enter a Dozen+ Price Greater Than $.01', 'error');
                return false;
            }
            if (tinyMCE.get('txtDesc').getContent() == "") {
                swal.fire('Error', 'Please Enter a Product Description', 'error');
                return false;
            }
            if (document.getElementById("uploadBox").value == "")  {
                swal.fire('Error', 'Please Select an Image', 'error')
                return false
            }
            if (document.getElementById('txtSize').value == "") {
                swal.fire('Error', 'Please Enter a Product Size', 'error');
                return false;
            }
            if ($('#ddlCategory').prop('selectedIndex') === 0) {
                swal.fire('Error', 'Please Select a Catagory', 'error')
                return false
            }
            if ($('#ddlManufacturer').prop('selectedIndex') === 0) {
                swal.fire('Error', 'Please Select a Manufacturer', 'error')
                return false
            }
            return true;
        }

        function ValidateUpdateInput() {
            if (document.getElementById('txtName').value == "") {
                swal.fire('Error', 'Please Enter a Product Name', 'error');
                return false;
            }
            if (document.getElementById('txtUPC').value == "") {
                swal.fire('Error', 'Please Enter a Product UPC', 'error');
                return false;
            }
            if ($('#txtUnitPrice').val() < .01) {
                swal.fire('Error', 'Please Enter a Unit Price Greater Than $.01', 'error');
                return false;
            }
            if ($('#txtListPrice').val() < .01) {
                swal.fire('Error', 'Please Enter a List Price Greater Than $.01', 'error');
                return false;
            }
            if ($('#txtHalfDozenPrice').val() < .01) {
                swal.fire('Error', 'Please Enter a Half Dozen+ Price Greater Than $.01', 'error');
                return false;
            }
            if ($('#txtDozenPrice').val() < .01) {
                swal.fire('Error', 'Please Enter a Dozen+ Price Greater Than $.01', 'error');
                return false;
            }
            if (tinyMCE.get('txtDesc').getContent() == "") {
                swal.fire('Error', 'Please Enter a Product Description', 'error');
                return false;
            }
            
            if (document.getElementById('txtSize').value == "") {
                swal.fire('Error', 'Please Enter a Product Size', 'error');
                return false;
            }
            if ($('#ddlCategory').prop('selectedIndex') === 0) {
                swal.fire('Error', 'Please Select a Catagory', 'error')
                return false
            }
            if ($('#ddlManufacturer').prop('selectedIndex') === 0) {
                swal.fire('Error', 'Please Select a Manufacturer', 'error')
                return false
            }
            return true;
        }
    </script>
}